android/
maimai_android/
maimai_ios/
node_modules/
.idea/
*.swp
*.DS_Store
package-lock.json
.history
api.ts
rn/localconf.js
bundle/
sourcemap_android.js
sourcemap_ios.js
.vscode/
pre_bundle/
haste-map-react-native-packager-*
react-native-packager-cache-*
rn/conf.android.js
rn/conf.ios.js
alias.dir.js
DebugEntry.js
docs/
multibundler/
pre_multibundler/
roback_bundle/
mapping/

